<p id="message">
  <%= notification %>
</p>

<div id="stats">
  <p class="score">
    <%= score %>/80
  </p>

  <p class="cards-remaining">
    <%= cardsLeft %>/80
  </p>

  <p class="elapsed-time"><%= elapsedTime %></p>
</div>